.modal
  .content
    .window-title Creando Producto nuevo
    form
      .form-item
        label Nombre
        .input-element
          input(type="text" placeholder="Refresco 2 litros")
      .form-item
        label Precio
        .input-element  
          span Lps
          input(type="currency" placeholder="20.00")
      .footer
        button(class="btn-secundary-negative") Cancelar
        button(class="btn-prymary") Guardar