.window-title Creando Producto nuevo
form
  .form-item
    label Nombre
      .input-element
        input(type="text" name="name" placeholder="Refresco 2 litros")
  .form-item
    label Precio
    .input-element  
      span Lps
      input(type="currency" name="price" placeholder="20.00")
  .footer
    button(class="btn-secundary-negative" type="button") Cancelar
    button(class="btn-prymary" type="submit") Guardar