.modal-content__title Creando Producto nuevo
form.form
  .form__item
    label.form__item__label Nombre
    .form__item__input
      input(type="text" name="name" placeholder="Refresco 2 litros")
  .form__item
    label.form__item__label Precio
    .form__item__input
      span Lps
      input(type="currency" name="price" placeholder="20.00")
  .form__footer
    button(class="btn-secondary-simple-negative" type="button") Cancelar
    button(class="btn-primary" type="submit") Guardar