h1 Products

button(id="btnAddProduct") + Nuevo producto
table
    thead
        tr
            th Nombre
            th Precio
            th Operaciones
    
    tbody( class="products-list")
        tr
            td Limpieza de area de juegos grande
            td Lps. 3,500.00
            td 
                span(class="edit")
                span(class="delete")
        tr
            td Limpiza de area de juegos mediana
            td Lps. 2,500.00
            td 
                span(class="edit")
                span(class="delete")
