<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/main.scss">
    <link rel="stylesheet" href="../style/products.scss">
</head>
<body>
    <h1>Productos</h1>
    <button id="btnAddProduct">+ Nuevo producto</button>
    <table>
        <thead>
            <tr>
                <th>Nombre</th> <th>Precio</th> <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Limpieza de area de juegos grande</td>
                <td>Lps. 3,500.00</td>
                <td><span class="edit"></span><span class="delete"></span></td>
            </tr>
            <tr>
                <td>Limpieza de area de juegos mediana</td>
                <td>Lps. 2,500.00</td>
                <td><span class="edit"></span><span class="delete"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
