.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
}

.window-title {
    background-color: #0063b1;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
}
form {
    margin: 10px;
}
.form-item {
    padding: 10px;
    margin: 10px;
}
.form-item label {
    font-weight: bold;
    display: block;
}
.input-element {
    font-size: 1.5rem;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 3px;

    span{
      margin-right: 6px;
    }
}

input {
    font-size: inherit;
    display: inline;
    border: none;
    height: 100%;
}

.content .footer {
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer button {
    margin-right: 10px;
    
}

.btn-secundary-negative {
    border: none;
    background-color: inherit;
    color: red;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      box-shadow: none;
    }
}
