aside.left-panel{
    display: inline-block;
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: 100%;
    background-color: #9fc3f2;
    


    margin-right: 5px;;
}

nav#main-menu ul{
    padding: 0;
    border: 1px solid yellow;
    width: 100%;
}

nav#main-menu ul li{
    width: 100%;
    background-color: var(--cl-secundary);
}

