@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root{
    --cl-primary: #0063B1;
    --cl-primary-ligth: #3498DB;
    --cl-secundary: #C0392B;
    --cl-secundary-light: #E74C3C;
    --cl-neutral-dark: #2C3E50;
    --cl-neutral-light: #ECF0F1;
}

@import 'basics';
@import 'main-menu';
@import 'products';
@import 'editProduct';
@import 'theme';